.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_altura_label { }
.css_altura_line {text-align:left;}
.css_altura_obj {text-align:left;}
.css_largura_label { }
.css_largura_line {text-align:left;}
.css_largura_obj {text-align:left;}
.css_profundidade_label { }
.css_profundidade_line {text-align:left;}
.css_profundidade_obj {text-align:left;}
.css_comentario_label { }
.css_comentario_line { }
.css_comentario_obj { }
